body {
  font-family: "Arial", sans-serif;
  background-image: url("https://cdn.borntoengineer.com/2017/10/video-games.jpeg");
  background-size: cover;
} 

section {
  text-align:center;
}

.game--title {
  font-size: 90px;
  color: black;
  margin: 10px auto;
}
.game--title{
  --h: 1.2em;   
  linea-height: var(--h);
  color: #0000;
  overflow: hidden;
  text-shadow: 
    0 var(--_t,var(--h)) #fff,
    0 0 var(--_c,#000);
  background: 
    linear-gradient(#1095c1 0 0) 
    bottom/100% var(--_d, 0) no-repeat;
  transition: 0.3s;
}
.game--title:hover {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}


.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  background-color: #11213a;
  color: black;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #ecd7ba;
  border: 2px solid #ecd7ba;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.game--status {
  font-size: 50px;
  color: red;
  margin: 20px auto;
}

.game--restart {
  background-color: green;
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: black;
  border-radius: 20%;
}

#a{
  background-image: url("https://cdn3.iconfinder.com/data/icons/cinema-40/64/Ironman-marvel_movie_marvel_superhero_avengers-512.png");
  background-size: cover;
  
}
#b{
  background-image: url("https://cdn3.iconfinder.com/data/icons/cinema-40/64/Deadpool_movie_marvel_superhero_avengers-512.png");
  background-size: cover;
}
#c{
  background-image: url("https://cdn4.iconfinder.com/data/icons/movies-2-flat/60/068_-_Hulk-512.png");
  background-size:cover;
}
#d{
  background-image: url("https://cdn3.iconfinder.com/data/icons/marvel-avatars-flaticons/64/falcon-avangers-marvel-avatars-gartoon-marvel_avatars-hero-512.png");
  background-size: cover;
}
#e{
  background-image: url("https://cdn3.iconfinder.com/data/icons/cinema-39/64/Spiderman-marvel_movie_marvel_superhero_avengers-512.png");
  background-size: cover;
}
#f{
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/captain-america-1508499-1276350.png");
  background-size: cover;
}
#g{
  background-image: url("https://cdn1.iconfinder.com/data/icons/people-avatars-23/24/people_avatar_head_marvel_thor_asgardian-512.png");
  background-size: cover;
}
#h{
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/blackpanther-1508158-1276043.png");
  background-size: cover;
}
#i{
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/thor-1508169-1276026.png");
  background-size: cover;
}